@import url('https://fonts.googleapis.com/css?family=Roboto:700');
*, 
*:before, 
*:after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

body {
	background-color: #2B2E37;
}

.container {
  width: 90%;
  min-width: 740px;
  margin: 0 auto;
}

ul {
	float: right;
}

li {
	display: inline;
	float: left;
}

img.logo {
	float: left;
}

nav {
	width: 100%;
	margin: 0 auto;
}

/* Section */

section.stretch {
	float: left;
	height: 1500px;
	width: 100%;
}

section.stretch p{
	font-family: sans-serif;
	font-size: 30px;
	color: #969696;
	text-align: center;
	position: relative;
	margin-top: 250px;
}

section.stretch p.bottom {
	top: 100%;
	padding-bottom: 1em;
}

/* Header */

header {
	background-color: black;
	border-bottom: 1px solid #aaa;
	float: left;
	width: 100%;
	position: fixed;
	z-index: 10;
}

header a {
	color: #0098DA;
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
	font-size: 1em;
}

header a.active, header a:hover {
	color: #3d3d3d;
}

header li {
	margin-right: 30px;
}

/* header large */
header.large {
	height: 80px;
}
header.large img {
  margin-top: 30px;
}
header.large li {
	margin-top: 52px;
}

/* header small */

header.small {
	height: 50px;
}
header.small img {
}
header.small li {
	margin-top: 17px;
}

/* Transitions */

header,
nav,
a,
img,
li {
	transition: .7s all;
	-moz-transition: .7s all;
	-webkit-transition: .7s all;
	-o-transition: .7s all;
}